In [1]:
import json
from os.path import dirname, basename
import pandas as pd
from fpt.path import DATA, DICT, DTFR

In [2]:
# read json dict
DICT_CATEGORY = 'file_dict'
with open(DICT / f'{DICT_CATEGORY}.txt', 'r') as f:
    sample_file_dict = json.load(f)

In [47]:
# edit dict
for key, value in sample_file_dict.items():
    source = sample_file_dict[key]['image']
    target = basename(dirname(source))[2:]
    if target == 'lndividuals':
        target = 'Individuals'
    sample_file_dict[key]['category'] = target

In [48]:
# write csv
DATA_CATEGORY = 'df_aihub_file'
# DATA_CATEGORY = 'df_aihub_sample_file'
target = DATA / 'dataframe' / f'{DATA_CATEGORY}.csv'
pd.DataFrame(sample_file_dict).T.to_csv(target, index_label='key')

In [4]:
# Join validation
face = pd.read_csv(DTFR / "df_aihub_sample_face.csv", index_col="key")
file = pd.read_csv(DTFR / "df_aihub_sample_file.csv", index_col="key")
joined = face.join(file[["category"]], on="key")
joined.category.unique()

array(['Family', 'Age', 'Individuals'], dtype=object)

In [12]:
pd.DataFrame(joined[joined.category=='Age'].groupby(by=['family_id', 'personal_id']).uuid.apply(list))

                                                                    uuid
family_id personal_id
F0001     D            [0be3262f-376e-4f42-bc06-4df99add86e8, 5239e29...
          GM           [af958890-ca32-4c33-afdb-c93daf15d66e, 696cca5...
          M            [ab6f5ace-9367-419c-a46f-f394c2b90a16, 7405c41...
F0003     D            [c74c74bd-d9f7-4093-a542-92bbcfe8662a, e1b4522...
          GM           [32652d60-fc75-4711-9464-436f1f80723f, 2b502cd...
          M            [4f64a643-c675-44f5-aae9-475549626d36, 3425011...