In [7]:
import pandas as pd
from fpt.path import DTFR, DATA

In [36]:
DATA_CATEGORY = 'df_aihub_file'
# DATA_CATEGORY = "df_aihub_sample_file"

df_aihub_file = pd.read_csv(DTFR / f"{DATA_CATEGORY}.csv", index_col="key")
df_aihub_file.head()

,label,image,category,option
key,,,,
F0006_GF_F_D_70-42-12_06,/home/jupyter/data/aihub_family/01.데이터/1.Train...,/home/jupyter/data/aihub_family/01.데이터/1.Train...,Family,NaN
F0006_GF_F_D_70-42-12_07,/home/jupyter/data/aihub_family/01.데이터/1.Train...,/home/jupyter/data/aihub_family/01.데이터/1.Train...,Family,NaN
F0006_GF_F_D_70-42-12_04,/home/jupyter/data/aihub_family/01.데이터/1.Train...,/home/jupyter/data/aihub_family/01.데이터/1.Train...,Family,NaN
F0006_GF_F_D_70-42-12_01,/home/jupyter/data/aihub_family/01.데이터/1.Train...,/home/jupyter/data/aihub_family/01.데이터/1.Train...,Family,NaN
F0006_GF_F_D_70-42-12_03,/home/jupyter/data/aihub_family/01.데이터/1.Train...,/home/jupyter/data/aihub_family/01.데이터/1.Train...,Family,NaN

In [106]:
group_dict = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": 4,
    "e": 5,
    "f": 6,
    "g": 7,
    "h": 8,
}


def convert_age_group(x):
    age_group = x.name.split('_')[-1]
    if len(age_group) == 1:
        age_group += "1"
    group = age_group[-2:-1]
    index = age_group[-1:]
    if group in group_dict:
        group_index = group_dict[group]
    else:
        group_index = 9
        print(x)
    return f"{group_index}{index}0"

In [56]:
import re
p = re.compile(r'[^0-9-]')

In [113]:
def convert_camera_degree(x):
    tag = x.name.split("_")
    degree = int(tag[-2]) + 90
    env = tag[-1]
    if env.upper() == "CAM":
        env = "06"
    else:
        env = p.sub("", env)
    env = int(env) * 1000
    if len(f"{(env+abs(degree))}") > 4 or len(f"{(env+abs(degree))}") == 0:
        print(x)
    return f"{(env+abs(degree))}"

In [107]:
category = "Age"
is_category = df_aihub_file.category == category
selected_index = df_aihub_file.index[is_category]
target_func = convert_age_group
df_aihub_file.loc[selected_index, "option"] = df_aihub_file[is_category].apply(
    target_func, axis=1
)

In [114]:
category = "Individuals"
is_category = df_aihub_file.category == category
selected_index = df_aihub_file.index[is_category]
target_func = convert_camera_degree
df_aihub_file.loc[selected_index, "option"] = df_aihub_file[is_category].apply(
    target_func, axis=1
)

label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                  45045
Name: F0429_IND_D2_13_-45_045, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                  45045
Name: F0428_IND_D2_13_-45_045, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                  14180
Name: F0156_IND_M_44_90_014, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                 -44863
Name: F0039_IND_F_47_-45CAM, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                  90109
Name: F0618_IND_D2_19_90, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                 -44891
Name: F0618_IND_D2_19_-45, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                 -89891
Name: F0618_IND_D2_19_-90, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                  45109
Name: F0618_IND_D2_19_45, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                  45109
Name: F0617_IND_D2_19_45, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                 -44891
Name: F0617_IND_D2_19_-45, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                 -89891
Name: F0617_IND_D2_19_-90, dtype: object
label       /home/jupyter/data/aihub_family/01.데이터/1.Train...
image       /home/jupyter/data/aihub_family/01.데이터/1.Train...
category                                          Individuals
option                                                  90109
Name: F0617_IND_D2_19_90, dtype: object

In [85]:
category = "Family"
is_category = df_aihub_file.category == category
selected_index = df_aihub_file.index[is_category]
df_aihub_file.loc[selected_index, "option"] = df_aihub_file[is_category].apply(
    lambda x:x.name.split("_")[-1], axis=1
)

In [108]:
df_aihub_file.groupby("category").option.apply(list).to_frame()

                                                        option
category
Age          [420, 530, 210, 720, 210, 520, 630, 410, 420, ...
Family       [06, 07, 04, 01, 03, 02, 08, 05, 09, 04, 02, 0...
Individuals  [6105, 6120, 6060, 4045, 4135, 1090, 5090, 400...

In [110]:
df_aihub_file[df_aihub_file.category == 'Individuals'].option.unique()

array(['6105', '6120', '6060', '4045', '4135', '1090', '5090', '4000',
       '6030', '1045', '3045', '1135', '4180', '2090', '2000', '6075',
       '4090', '6045', '6180', '6135', '3135', '2135', '2045', '1180',
       '3000', '2180', '3090', '6000', '3180', '6090', '1000', '6150',
       '5180', '45045', '14180', '-44863', '0', '90109', '-44891',
       '-89891', '45109'], dtype=object)

In [35]:
target = DATA / "dataframe" / f"{DATA_CATEGORY}.csv"
pd.DataFrame(df_aihub_file).to_csv(target, index_label="key")