In [5]:
from fpt.data import join_face_df
from fpt.path import DTFR

In [6]:
joined_df = join_face_df(DTFR, 'aihub_family')

In [10]:
joined_df.folder_name.unique()

array(['0000', '0100', '0200', '0300', '0400', '0500', '0600', '0700',
       '0800', '0900'], dtype=object)

In [ ]:
joined_df[joined_df.range_label == 'test'].folder_name.unique()

array(['0900'], dtype=object)

In [14]:
# 문자열 값을 정수로 변환
joined_df['folder_name_int'] = joined_df['folder_name'].astype(int)

# 범위에 따른 레이블 생성 함수
def label_range(value):
    if 0 <= value <= 699:
        return 'train'
    elif 700 <= value <= 799:
        return 'valid'
    elif 800 <= value <= 901:
        return 'test'

# 레이블 컬럼 생성
joined_df['range_label'] = joined_df['folder_name_int'].apply(label_range)

In [17]:
joined_df.groupby('range_label')[['key']].count()

               key
range_label
test          8261
train        92930
valid         8278

In [16]:
joined_df.groupby(['range_label', 'category'])[['key']].count()

                           key
range_label category
test        Age           3077
            Family        1944
            Individuals   3240
train       Age          21590
            Family       17362
            Individuals  53978
valid       Age           3142
            Family        1926
            Individuals   3210