In [2]:
from fpt.data import join_face_df
from fpt.path import DTFR, UTIL

In [3]:
face = join_face_df(DTFR, 'aihub_family')

In [4]:
with open(UTIL / 'dataset/split' / 'train_split.txt', 'r') as f:
    x_train_id = f.readlines()
    x_train_id = [row.rstrip() for row in x_train_id]
x_train = face.loc[x_train_id]

In [13]:
x_train.family_id.unique()

array(['F0063', 'F0074', 'F0001', 'F0014', 'F0069', 'F0484', 'F0412',
       'F0464', 'F0482', 'F0419', 'F0070', 'F0080', 'F0002', 'F0068',
       'F0065', 'F0073', 'F0004', 'F0067', 'F0017', 'F0416', 'F0456',
       'F0007', 'F0019', 'F0078', 'F0006', 'F0013', 'F0431', 'F0061',
       'F0079', 'F0077', 'F0413', 'F0429', 'F0435', 'F0009', 'F0011',
       'F0075', 'F0076', 'F0475', 'F0453', 'F0005', 'F0016', 'F0010'],
      dtype=object)

In [15]:
x_train.groupby(["family_id", "personal_id", "category"]).path.apply(list).to_frame()

                                                                                path
family_id personal_id category
F0001     D           Age          [/home/jongphago/family-photo-tree/data/face-i...
                      Family       [/home/jongphago/family-photo-tree/data/face-i...
                      Individuals  [/home/jongphago/family-photo-tree/data/face-i...
          GM          Age          [/home/jongphago/family-photo-tree/data/face-i...
                      Family       [/home/jongphago/family-photo-tree/data/face-i...
...                                                                              ...
F0484     M           Family       [/home/jongphago/family-photo-tree/data/face-i...
                      Individuals  [/home/jongphago/family-photo-tree/data/face-i...
          S           Age          [/home/jongphago/family-photo-tree/data/face-i...
                      Family       [/home/jongphago/family-photo-tree/data/face-i...
                      Individuals  [/home/jongphago/family-photo-tree/data/face-i...

[374 rows x 1 columns]